* {
  box-sizing: border-box;
}

.App {
  font-family: "Comme", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 4em 2em;
  font-family: "Francois One", sans-serif;
  color: #f24405;
  background-color: #a0e3f2;
}

.header h1 {
  font-size: 3em;
}

.header > button {
  font-family: "Francois One", sans-serif;
  font-size: 1em;
  border: 2px solid #f24405;
  color: #605a8c;
  border-radius: 8px;
  padding: 0.8em;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}

.table--container > button {
  padding: 0.6em 0.2em;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  font-family: "Francois One", sans-serif;
}

.table--container > button:hover {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 15px;
  font-family: "Francois One", sans-serif;
}
.table--container {
  display: grid;
  grid-template-columns: auto 200px 150px 100px 100px;
  margin: 0.2em;
  align-items: center;
  padding: 0 2em;
}

.table--container p:first-of-type {
  padding: 0.7em 2em;
}

.table--container:hover,
.table--container:nth-child(odd):hover {
  background-color: #605a8c;
  color: #fff;
}

.table--container:active,
.table--container:nth-child(odd):active {
  background-color: #a0e3f2;
  color: #2b2b2b;
}

.table--container > p {
  text-align: center;

  display: inline-block;
}

.table--container:nth-child(odd) {
  background: #c9b0f2;
}

.rating {
  color: black;
}

.red {
  color: red;
}

.black {
  color: black;
}

.green {
  color: rgb(79, 197, 79);
}
.line--background {
  background: purple;
}

.modal--container {
  text-align: center;
  padding: 2em;
}

a {
  background-color: pink;
}
